* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #FFF;
}

a {
  text-decoration: none;
  color: #C39BD3;
  transition: .5s;
}

a:hover {
  color: #6C3483;
}